<nav class="app-header navbar navbar-expand border-bottom-0">
  <div class="container-fluid">
    <ul class="navbar-nav sidebar-icon">
      <li class="nav-item">
        <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
          <i class="bi bi-list"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      {% include "classy_admin/includes/header/theme_switch.html" %}
      {% include "classy_admin/includes/header/user_menu.html" %}
    </ul>
  </div>
</nav>
