<div class="form-inline">
  <div class="input-group custom-input-group" data-widget="sidebar-search">
    <input id="search"
           class="form-control form-control-sidebar my-2 bg-secondary"
           type="search"
           placeholder="Buscar"
           aria-label="Buscar">
    <label for="search"
           class="text-white"
           style="position: absolute;
                  right: 15px;
                  top: 50%;
                  transform: translateY(-50%)">
      <i class="fas fa-search"></i>
    </label>
  </div>
</div>
