{% extends "classy_admin/base_site.html" %}
{% load i18n django_tables2 %}
{% block title %}
  {{ view.admin.model_opts.verbose_name_plural|capfirst }}
{% endblock title %}
{% block content_body %}
  <section class="content">
    <div class="container-fluid">
      {% block actions_card %}
        <div class="card card-{{ navbar_color }} card-outline">
          <div class="card-header">
            {% block filter_button %}
              {% if filterset %}
                <a class="btn btn-secondary btn-sm"
                   data-widget="control-sidebar"
                   data-slide="true"
                   href="#"
                   role="button">
                  <i class="fas fa-filter"></i> Filtros
                </a>
              {% endif %}
            {% endblock filter_button %}
            <div class="card-tools">
              {% block actions %}
                {% include "classy_admin/_list_actions_buttons.html" with actions=view.action_urls.list.values %}
              {% endblock actions %}
            </div>
          </div>
          {% block top_filters %}
          {% endblock top_filters %}
        </div>
      {% endblock actions_card %}
      {% block list %}
        <div class="card">
          <div class="card-header">
            <div class="card-tools">
              <ul class="pagination pagination-sm float-right">
                {% if table.page.has_previous %}
                  <li class="page-item">
                    <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}"
                       class="page-link"><i class="fas fa-chevron-left"></i></a>
                  </li>
                {% endif %}
                {% for p in table.page|table_page_range:table.paginator %}
                  <li class="page-item{% if table.page.number == p %} active{% endif %}">
                    <a class="page-link"
                       {% if p != '...' %}href="{% querystring table.prefixed_page_field=p %}"{% endif %}>{{ p }}</a>
                  </li>
                {% endfor %}
                {% if table.page.has_next %}
                  <li class="page-item">
                    <a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}"
                       class="page-link"><i class="fas fa-chevron-right"></i></a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div class="card-body p-0">
            {% load render_table from django_tables2 %}
            {% render_table table 'classy_admin/table.html' %}
          </div>
        </div>
      {% endblock list %}
    </div>
  </section>
  {% block filter %}
    {% if filterset %}
      <aside class="control-sidebar control-sidebar-light">
        <div class="p-3 control-sidebar-content os-host os-theme-light os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition os-host-overflow os-host-overflow-y">
          {% include "classy_admin/_filter_form.html" %}
        </div>
      </aside>
    {% endif %}
  {% endblock filter %}
{% endblock content_body %}
{% block extrascript %}
  {{ block.super }}
  {% if filterset.form %}{{ filterset.form.media.js }}{% endif %}
{% endblock extrascript %}
