{% extends 'cbvadmin/adminlte3/base_site.html' %}
{% load crispy_forms_tags i18n %}
{% block extrahead %}
  {{ block.super }}
  {{ form.media.css }}
{% endblock %}
{% block content %}
  {% block content_header %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1 class="text-bold">
              {% block title %}
                {{ object.pk|yesno:'Editar,Adicionar' }} {{ view.admin.model_opts.verbose_name|capfirst }}
              {% endblock %}
            </h1>
          </div>
          <div class="col-sm-6">
            {% block breadcrumbs %}
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                  <i class="fa fa-home"></i>
                </li>
                {% for item in view.breadcrumbs %}
                  <li class="breadcrumb-item{% if forloop.last %} active{% endif %}">{{ item }}</li>
                {% endfor %}
              </ol>
            {% endblock %}
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
  {% endblock %}
  {% block content_body %}
    <section class="content">
      <div class="container-fluid">
        <form method="post"
              id="change-form"
              {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}
              novalidate>
          {% block form_content %}
            <div class="card card-{{ navbar_color }} card-outline">
              <div class="card-body">{% crispy form 'bootstrap4' %}</div>
              <div class="card-footer">
                <div class="float-right">
                  <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> {% trans 'Save' %}
                  </button>
                </div>
                {% if object and admin.urls.delete %}
                  <button type="button"
                          class="btn btn-danger"
                          data-toggle="modal"
                          data-target="#confirm-delete-modal">
                    <i class="fa fa-trash"></i> {% trans 'Delete' %}
                  </button>
                {% endif %}
              </div>
            </div>
          {% endblock %}
        </form>
      </div>
    </section>
    {% if object and admin.urls.delete %}
      {% include 'cbvadmin/adminlte3/delete_modal.html' %}
    {% endif %}
  {% endblock %}
{% endblock %}
{% block extrascript %}
  {{ block.super }}
  {{ form.media.js }}
{% endblock %}
