{% load static django_htmx %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>
      {% block title %}
        {{ page_title }}
      {% endblock title %}
    </title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block favicon %}
      {% include "includes/favicon.html" %}
    {% endblock favicon %}
    {% block basecss %}
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/4.0.0-beta2/css/adminlte.min.css"
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.min.css"
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            rel="stylesheet"
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.0/css/OverlayScrollbars.css"
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
            rel="stylesheet"
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
            rel="stylesheet"
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.3/skins/line/blue.css"
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.css"
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
      <link href="{% static "vendor/select2/select2-bootstrap-5-theme.css" %}"
            rel="stylesheet">
      <link href="{% static "vendor/select2/select2-bootstrap-5-theme.css" %}"
            rel="stylesheet">
      <link href="{% static "css/classy_admin.css" %}" rel="stylesheet">
    {% endblock basecss %}
    {% block extrahead %}
    {% endblock extrahead %}
  </head>
  <body class="{% block body_classes %}layout-fixed sidebar-expand-lg sidebar-mini sidebar-open{% endblock body_classes %}">
    {% block beforelayout %}
    {% endblock beforelayout %}
    {% block layout %}
    {% endblock layout %}
    {% block afterlayout %}
    {% endblock afterlayout %}
    {% block basescripts %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <script src="{% static 'vendor/toastr/toastr.min.js' %}"
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.3/icheck.min.js"
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.14.1/cdn.min.js"
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/4.0.0-beta2/js/adminlte.min.js"
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.1/htmx.min.js"
              crossorigin="anonymous"
              referrerpolicy="no-referrer"
              defer></script>
      {% django_htmx_script %}
      <script src="{% static 'js/django-select2.js' %}"></script>
      <script src="{% static 'js/jquery-formset.js' %}"></script>
    {% endblock basescripts %}
    {% block modal %}
      {% include "modal/_dialog.html" %}
      {% include "modal/_script.html" %}
    {% endblock modal %}
    {% block messages %}
      {% include "includes/messages.html" %}
    {% endblock messages %}
    {% block extrascript %}
    {% endblock extrascript %}
  </body>
</html>
