{% extends "base.html" %}
{% load static %}
{% block body_classes %}
  layout-fixed sidebar-expand-lg sidebar-mini sidebar-open
{% endblock body_classes %}
{% block layout %}
  <div class="app-wrapper">
    {% block header %}
      {% include "includes/header.html" %}
    {% endblock header %}
    {% block sidebar %}
      {% include "includes/sidebar.html" %}
    {% endblock sidebar %}
    <main class="app-main">
      {% block layout_main %}
        <div class="app-content-header">
          <div class="container-fluid">
            {% block content_header %}
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="mb-0">{{ page_title|capfirst }}</h3>
                </div>
                <div class="col-sm-6">{% include "includes/breadcrumbs.html" %}</div>
              </div>
            {% endblock content_header %}
          </div>
        </div>
        <div class="container-fluid">
          {% block content %}
            <div class="card card-primary card-outline mb-4">
              <div class="card-body">
                {% block content_body %}
                {% endblock content_body %}
              </div>
            </div>
          {% endblock content %}
        </div>
      {% endblock layout_main %}
    </main>
  </div>
{% endblock layout %}
