{% extends "layout.html" %}
{% load i18n django_tables2 %}
{% block content %}
  <div class="card card-primary card-outline mb-4">
    <div class="card-header">
      <a class="btn btn-secondary"
         data-widget="control-sidebar"
         data-controlsidebar-slide="true"
         href="#"
         role="button">{% trans "filter" %}</a>
      {% include "list/_actions.html" with actions=view.actions.non_item %}
    </div>
    {% block listing-content %}
      <div id="listing-content">
        <div class="card-body p-0">
          {% block list %}
            {% render_table table "list/_table.html" %}
          {% endblock list %}
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-12 col-sm-4">
              {% include "list/_pagesize.html" with target_block="listing-content" target_element_id="listing-content" %}
            </div>
            <div class="col-12 col-sm-2 ms-sm-auto">
              {% include "list/_pagination.html" with target_block="listing-content" target_element_id="listing-content" %}
            </div>
          </div>
        </div>
      {% endblock listing-content %}
    </div>
  </div>
{% endblock content %}
{% block afterlayout %}
  {{ block.super }}
  {% include "list/_filter_sidebar.html" %}
{% endblock afterlayout %}
