{% load i18n %}
{% for name, action in actions.items %}
  <a title="{{ action.verbose_name|default:name|capfirst }}"
     class="btn btn-{{ forloop.first|yesno:"primary,secondary" }} action-{{ name }} me-1"
     {% if action.modal %} hx-get="{% url action.url %}" hx-target="#app-modal" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#app-modal" {% endif %}
     href="{% url action.url %}">
    {% if action.icon %}<i class="{{ action.icon }}"></i>{% endif %}
    {{ action.verbose_name|default:name|capfirst }}
  </a>
{% endfor %}
