{% load i18n django_tables2 %}
<!-- pagination -->
<ul class="pagination justify-content-start justify-content-sm-end align-items-center mb-0">
  <li class="page-item px-2">{% trans "Page" %}</li>
  <li class="page-item ">
    <a class="page-link dropdown-toggle"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">{{ table.page.number }}</a>
    <ul class="dropdown-menu">
      {% for p in table.page|table_page_range:table.paginator %}
        <li>
          {% if p != '...' %}
            <a href="{% querystring table.prefixed_page_field=p '_renderblock'='table_content' %}"
               hx-get="{% querystring table.prefixed_page_field=p '_renderblock'='table_content' %}"
               hx-target="#table-content"
               class="dropdown-item">{{ p }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </li>
  <li class="page-item ms-2 border-start">
    {% if table.page.has_previous %}
      <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number '_renderblock'='table_content' %}"
         hx-get="{% querystring table.prefixed_page_field=table.page.previous_page_number '_renderblock'='table_content' %}"
         hx-target="#table-content"
         class="page-link"><i class="fas fa-chevron-left"></i></a>
    {% else %}
      <span class="page-link disabled bg-white"><i class="fas fa-chevron-left text-body-tertiary"></i></span>
    {% endif %}
  </li>
  <li class="page-item">
    {% if table.page.has_next %}
      <a href="{% querystring table.prefixed_page_field=table.page.next_page_number '_renderblock'='table_content' %}"
         hx-get="{% querystring table.prefixed_page_field=table.page.next_page_number '_renderblock'='table_content' %}"
         hx-target="#table-content"
         class="page-link"><i class="fas fa-chevron-right"></i></a>
    {% else %}
      <span class="page-link disabled bg-white"><i class="fas fa-chevron-right text-body-tertiary"></i></span>
    {% endif %}
  </li>
</ul>
