{% extends "classy_admin/base.html" %}
{% load static i18n crispy_forms_tags %}
{% block body_classes %}
  login-page bg-body-secondary
{% endblock body_classes %}
{% block layout %}
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header">
        {% block login_header %}
          <h1 class="mb-0">Classy Admin</h1>
        {% endblock login_header %}
      </div>
      <div class="card-body login-card-body">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div>
{% endblock layout %}
