{% extends "classy_admin/accounts/base.html" %}
{% load static i18n crispy_forms_tags %}
{% block body_classes %}
  login-page bg-body-secondary
{% endblock body_classes %}
{% block login_header %}
  <h1 class="mb-0">Classy Admin</h1>
{% endblock login_header %}
{% block content %}
  <form method="post">
    {% crispy form %}
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">{% translate "Log in" %}</button>
    </div>
  </form>
  <div class="mt-3">
    <a href="{% url 'classy_admin:accounts-password_reset' %}">{% translate "Forgot password" %}</a>
  </div>
{% endblock content %}
