{% extends "classy_admin/accounts/base.html" %}
{% load crispy_forms_tags i18n %}
{% block content %}
  <form method="post"
        action="{{ request.path }}?{{ request.query_string }}"
        id="change-form"
        {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}
        novalidate>
    {% csrf_token %}
    <p>
      {% translate "Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one." %}
    </p>
    {% crispy form %}
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary ms-2">{% translate "Reset my password" %}</button>
    </div>
  </form>
{% endblock content %}
