{% if cbvadmin.enable_sites and request.user.is_superuser %}
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
      <i class="fas fa-globe"></i> Sites
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
      {% if cbvadmin.enable_site_preferences %}
        <a href="{% url 'cbvadmin:preferences:site' %}" class="dropdown-item">{% trans 'Site Preferences' %}</a>
      {% endif %}
      {% if cbvadmin.enable_sites %}
        <a href="{% url 'cbvadmin:sites_site:list' %}" class="dropdown-item">{% trans 'Manage Sites' %}</a>
      {% endif %}
    </div>
  </li>
{% endif %}
